.page h1.title {
  display: block;
  color: var(--off-white);
  font-family: adobe-handwriting-ernie, sans-serif;
  font-size: 3rem;
  line-height: 1.3;
  padding-bottom: 1.75rem;
}
.page .biography {
  background: var(--off-white);
  color: rgb(var(--background-start-rgb));
  text-align: left;
}
.page .biography > div,
.page .biography article,
.page .biography p,
.page .biography h3 {
  text-align: left;
}
.page .biography article {
  width: 100%;
  margin: 2rem 0 0;
  padding: 0;
}
.page .biography article p,
.page .biography article h3 {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 799px) {
  .page .biography {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .page .biography > div {
    padding-left: 0;
    padding-right: 0;
  }
}
