.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  color: rgb(var(--background-end-rgb));
  background: linear-gradient(to bottom, transparent, rgb(200, 200, 200))
    rgb(var(--foreground-rgb));
  min-height: 100vh;
  width: 100vw;
}
.main h1.SEO {
  display: None;
}
.main nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.main nav div {
  display: flex;
  flex-direction: row;
}
.main nav .links a {
  padding-right: 0.25em;
  padding-left: 0.25em;
  padding-bottom: 0.5em;
  padding-top: 1.5em;
  min-width: 48px;
}

.main menu {
  display: flex;
  justify-content: center;
}
.main menu a svg {
  height: 48px;
  padding: 6px 10px;
}

.main button {
  font-size: 0.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0.75rem 2.5rem;
  background: rgba(29, 63, 100, 0.07);
  color: var(--background-end-rgb);
  border: rgb(var(--background-end-rgb)) solid 0.1rem;
  border-radius: 2rem;
}
.main header {
  background: white;
  margin: 1em;
  width: calc(100% - 2em);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.main header .content {
  margin-left: calc(50vw - 500px);
  margin-right: calc(50vw - 500px);
}
.main header .content p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.grid {
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.grid a {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
  background: white;
  display: flex;
  flex-direction: row;
  min-width: 45vw;
  max-width: calc(50% - 16px);
}
.grid img {
  width: 150px;
  height: 130px;
  object-fit: cover;
  padding-right: 0.5em;
}

.main h1 {
  font-size: 2rem;
}
.main h2 {
  font-size: 1rem;
}

.main h3 {
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
}

.main p,
.main quote {
  font-size: 0.8rem;
}

.main footer {
  width: 100vw;
  background: rgb(var(--background-end-rgb));
  color: white;
  text-align: center;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.main footer nav {
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
}
.main footer nav a {
  padding-bottom: 0.9em;
  padding-top: 0.9em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.main footer menu {
  padding-top: 32px;
}
.main article.postContent {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  padding-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 3em;
  background: white;
  max-width: 100vw;
}

.main article.postContent p,
.main article.postContent ol,
.main article.postContent li,
.main article.postContent h2,
.main article.postContent table {
  color: rgb(var(--background-end-rgb)) !important;
  margin-bottom: 0.75em !important;
}
.main article.postContent span a,
.main article.postContent .subtitle span {
  color: rgb(var(--background-end-rgb)) !important;
}
.main article.postContent p {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* LARGE Mobile to tablet */
@media (max-width: 700px) {
  .grid {
    flex-direction: column;
  }
  .main article.postContent {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    color: ;
  }
  .main .grid a {
    max-width: 100%;
  }
}
@media (min-width: 500px) {
  .main nav {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
@media (max-width: 1000px) {
  .main header .content {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .main header nav {
    flex-wrap: wrap;
  }
}
@media (min-width: 1000px) {
  .main article.postContent {
    margin-left: calc(50vw - 400px);
    margin-right: calc(50vw - 400px);
  }

  .main footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
  }
  .main footer nav {
    display: flex;
    flex-direction: column;
  }
  .main footer nav {
    flex-direction: row;
    justify-content: start;
    min-width: 40vw;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
  }
  .main footer nav a {
    padding-bottom: 0;
    padding-right: 1em;
  }
}
