.footer {
  width: 100%;
  min-width: 0 !important;
  padding: 4em 1em 1em !important;
}
.footer .credit {
  width: 100%;
  margin-top: 2rem;
  padding: 0 1rem;
  text-align: right;
  font-family: "poppins", sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
}
